<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bcp.mobile"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bell_shield"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.bcp.mobile.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.bcp.mobile.GradeViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_grade_view" >
        </activity>
        <activity
            android:name="org.bcp.mobile.CourseDetailActivity"
            android:label="@string/title_activity_course_detail" >
        </activity>
        <activity
            android:name="org.bcp.mobile.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.bcp.mobile.AnnouncementsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_announcements" >
        </activity>
        <activity
            android:name="org.bcp.mobile.NewsRssActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_news_rss" >
        </activity>
        <activity
            android:name="org.bcp.mobile.CalendarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_calendar" >
        </activity>
        <service android:enabled="true" android:name=".NotificationService" />
        <receiver android:name="NotificationReceiver" >
        </receiver>
    </application>

</manifest>